* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
ul li {
  text-decoration: none;
  margin: 0 10px;
  text-align: right;
}
.nav-links:hover {
  color: firebrick;
}
.background__img {
  background-image: url(/img/pexels-evgeny-tchebotarev-2187605.jpg);
  background-size: 1700px;
  background-position: center;
  height: 700px;
  width: auto;
  background-repeat: no-repeat;
  border-bottom-right-radius: 150px;
}
.navbar {
  padding: 30px 20vw;
}

.bar {
  background-color: floralwhite;
  margin: 4px 0;
  height: 2px;
  width: 15px;
  display: none;
}
@media screen and (max-width: 1400px) {
  .mobile-menu {
    margin-left: 24vw;
  }
  .bar {
    display: block;
    left: 100vw;
  }
  .nav-links {
    display: none;
  }
}
/* Hero */

.container h1 {
  font-size: 3em;
  width: 50vw;
  padding: 0;
  margin: 0;
}
.container p {
  font-size: 1.2em;
  width: 50vw;
  padding: 0;
  margin: 0;
}
.hero {
  padding: 140px 10.5vw;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .container {
    padding: 60px 12vw;
  }
  .container h1 {
    font-size: 2em;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .container p {
    font-size: 1em;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

/* Roteiros */
.card p {
  width: 230px;
  text-align: left;
}
.container-fluid-roteiro {
  padding: 0;
  margin: 0;
  width: 100%;
}
.txt-roteiro {
  text-align: center;
  margin: 50px 0 auto;
}
.txt-roteiro-1 {
  text-align: center;
}
.container-roteiro {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 100px;
  grid-row: 2;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.card {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 40px 120px -40px rgb(0 0 0 / 24%);
  box-shadow: #0f0f0f;
}

@media screen and (max-width: 1400px) {
  .container-roteiro {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 100px;
    grid-row: 2;
    width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .container-roteiro {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 100px;
    grid-row: 2;
    width: 100%;
  }
  .card {
    width: 300px;
  }
}
@media screen and (max-width: 335px) {
  .card {
    width: 250px;
  }
}

/* transportes */
.transporte {
  padding: 0;
  margin: 0;
}
.card-img {
  width: 300px;
  height: 500px;
  border-radius: 20px;
}
.informação {
  margin-top: 200px;
  margin-left: 36.4vw;
  color: aliceblue;
  height: 400px;
  width: 1000px;
  padding-top: 10%;
  padding-left: 5vw;
}

.info-button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 20px 0;
}

.aviao {
  position: absolute;
  top: 2230px;
  left: 19vw;
}
.trem {
  position: absolute;
  top: 2150px;
  left: 10vw;
}

@media screen and (max-width: 1524px) {
  .card-img {
    width: calc(300px / 2);
    height: calc(500px / 2);
    border-radius: 20px;
  }
  .informação {
    margin-top: 200px;
    margin: 0;
    color: aliceblue;
    height: 400px;
    width: 100vw;
    padding-top: 10%;
    text-align: center;
  }
  .info-button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 40px 0;
  }

  .aviao {
    position: absolute;
    top: 2150px;
    left: 990px;
    display: none;
  }
  .trem {
    position: absolute;
    top: 2100px;
    left: 940px;
    display: none;
  }
}

/* House */

.bg-img-house {
  margin: 100px 300px;
  background-image: url(/img/rap-dela-rea-NgMqApxnf_8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 1100px;
  height: 500px;
  border-radius: 100px;
}
.h1-house {
  color: #0f0f0f;
  text-align: center;
}
.txt-house {
  color: #0f0f0f;
  text-align: center;
  font-size: 20px;
}

.texts_house {
  margin-top: 200px;
}
